@import url('https://fonts.googleapis.com/css2?family=Ruda:wght@400;500;600;700;800;900&display=swap');
html {
  scroll-behavior: smooth;
}
body{
    margin: 0;
    padding: 0;
    border: 0;
    font-family: Ruda;
}
.header{
    background: url(../img/header1.png);
    background-size: cover;
    color: white;
}
.header-content {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.header-h1 {
    font-size: 90px;
    font-weight: 700;
    line-height: 1px;
    text-align: center;
}
.header-p {
    text-align: center;
    line-height: 30px;
    font-size: 20px;
}
.header-a {
    margin-top: 30px;
    text-decoration: none;
}
.header-btn {
    text-decoration: none;
    background: white;
    padding: 10px 45px;
    border-radius: 30px;
    border: 0;
    font-family: Ruda;
    font-size: 15px;
    font-weight: 700;
    transition: 0.3s;
}
.header-btn:hover{
    box-shadow: 6px 3px 10px 0px #FFFFFFCF;
    cursor: pointer;
}

/* --------------------------------------------------- */
/* Section 1 */

.section-1 {
    padding: 50px 100px;
}
.section-1-content {
    display: flex;
    justify-content: space-between;
}
.section-1-block {
    max-width: 280px;
    text-align: center;
}
.section-1-img {
    max-width: 60px;
}
.section-1-h2 {
    font-size: 18px;
    font-weight: 600;
    margin-top: 15px;
}
.section-1-p {
    font-size: 15px;
    font-weight: 300;
    margin-top: 15px;
}

/* --------------------------------------------------- */
/* Section 2 */

.section-2 {
    height: 60vh;
    background: url(../img/section2.jpeg);
    background-size: cover;
    color: white;
    padding: 50px 100px;
}
.section-2-content {
    height: 100%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;

}
.section-2-span {
    font-size: 24px;
    letter-spacing: 1px;
}

/* --------------------------------------------------- */
/* Section 3 */

.section-3 {
    padding: 100px 50px;
}
.section-3-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* --------------------------------------------------- */
/* Footer */

.footer {
    scroll-behavior: smooth;
    background: #202020;
    padding: 50px 100px;
    color: white;
}
.footer-h2 {
    font-size: 30px;
    text-align: center;
}
.footer-div {
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
}
.footer-block {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer-f-img {
    max-width: 40px;
}
.footer-phone-number {
    margin-top: 15px;
    font-size: 18px;
}
/* ----------------- */
.footer-img-message {
    max-width: 40px;
}
.footer-h3-message {
    max-width: 500px;
}
.message-images {
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer-mes-img {
    max-width: 50px;
    margin: 0px 20px;
}

.code-by-zhkv {
    background: black;
    font-size: 10px;
    text-align: center;
    padding: 5px;
}
.c-b-zhkv {
    color: whitesmoke;
}